{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <div class="container col-md-4 col-lg-offset-1 ">
        <h1 >录入</h1><br/><br/>
        <form enctype="multipart/form-data" method="post" onsubmit="return formsubmit()">
            {% csrf_token %}
            <div class="form-group">
                <label>输入名称</label>
                <input name="name" type="text" class="form-control" id="name_input">
            </div>
            <div class="form-group">
                <label >请选择一个图像文件：</label>
                <input type="file" id="file_input" multiple name="img" class="file-upload"/>
                <!--用input标签并选择type=file，记得带上multiple，不然就只能单选图片了-->
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-block btn-lg">提交</button>
            </div>
            <span class="text-success" style="font-style: italic;font-size: 30px">{{ submit }}提交成功</span>
        </form>
        <form method="post">
            {% csrf_token %}
            <div class="form-group"><input type="text" hidden="hidden" name="train" value="1">
                <button type="submit" class="btn btn-block btn-lg btn-primary" onclick="trainCilck()">训练</button>
            </div>

            <span class="text-success" style="font-style: italic;font-size: 30px">{{ train }}训练完成</span>
        </form>
    </div>
    <div class=" container col-md-4 col-lg-offset-1" id="viewImg">
    </div>



    <script type="text/javascript">function trainCilck() {
        alert("正在训练")
    }

    function formsubmit() {
            var file_input = document.getElementById("file_input");
            var name_input = document.getElementById("name_input");
            if(file_input.value.length===0) {
                alert("请选择图片")
                return false
            }
            if(name_input.value==='')
            {
                alert("请输入名称")
                return false
            }
            else return alert('正在提交')

    }


    window.onload = function () {

            var input = document.getElementById("file_input");
            var result;
            var dataArr = []; // 储存所选图片的结果(文件名和base64数据)
            var fd;  //FormData方式发送请求
            var viewImg=document.getElementById('viewImg');
            if (typeof FileReader === 'undefined') {
                alert("抱歉，你的浏览器不支持 FileReader");
                input.setAttribute('disabled', 'disabled');
            } else {
                input.addEventListener('change', readFile, false);
            }　　　　　//handler
            function readFile() {
                viewImg.innerHTML = "";
                fd = new FormData();
                var iLen = this.files.length;
                for (var i = 0; i < iLen; i++) {
                    if (!input['value'].match(/.jpg|.gif|.png|.jpeg|.bmp/i)) {　　//判断上传文件格式
                        return alert("上传的图片格式不正确，请重新选择");
                    }
                    var reader = new FileReader();
                    fd.append(i, this.files[i]);
                    reader.readAsDataURL(this.files[i]);  //转成base64
                    reader.fileName = this.files[i].name;

                    reader.onload = function (e) {
                        var imgMsg = {
                            name: this.fileName,//获取文件名
                            base64: this.result   //reader.readAsDataURL方法执行完后，base64数据储存在reader.result里
                        }
                        dataArr.push(imgMsg);
                        result = '<div class="result"><img class="img-thumbnail" src="' + this.result + '" alt="' + this.fileName + '"/></div>';
                        var div = document.createElement('div');
                        div.innerHTML = result;
                        div['className'] = 'float';
                        viewImg.appendChild(div);　　//插入dom树
                        var img = div.getElementsByTagName('img')[0];
                        img.onload = function () {
                            var nowHeight = ReSizePic(this); //设置图片大小
                            this.parentNode.style.display = 'block';
                            var oParent = this.parentNode;
                            if (nowHeight) {
                                oParent.style.paddingTop = (oParent.offsetHeight - nowHeight) / 2 + 'px';
                            }
                        }
                        div.onclick = function () {
                            //$(this).remove();                  // 在页面中删除该图片元素
                        }
                    }
                }
            }
        }
        document.getElementById('submit').onclick=function (){
            console.log("点击了提交")
        }
        /*
         用ajax发送fd参数时要告诉jQuery不要去处理发送的数据，
         不要去设置Content-Type请求头才可以发送成功，否则会报“Illegal invocation”的错误，
         也就是非法调用，所以要加上“processData: false,contentType: false,”
         * */


        function ReSizePic(ThisPic) {
            var RePicWidth = 200; //这里修改为您想显示的宽度值

            var TrueWidth = ThisPic.width; //图片实际宽度
            var TrueHeight = ThisPic.height; //图片实际高度

            if (TrueWidth > TrueHeight) {
                //宽大于高
                var reWidth = RePicWidth;
                ThisPic.width = reWidth;
                //垂直居中
                var nowHeight = TrueHeight * (reWidth / TrueWidth);
                return nowHeight;  //将图片修改后的高度返回，供垂直居中用
            } else {
                //宽小于高
                var reHeight = RePicWidth;
                ThisPic.height = reHeight;
            }
        }

    </script>
{% endblock %}
